.App {
  font-family: sans-serif;
  text-align: center;
}

.big{
	width: 100vh;
	background: black;
	height: 100vh;
}

* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  background: linear-gradient(to bottom, #1a2980, #26d0ce);
  box-shadow: 0;
  width: 100vw;
  color: black;
  height: 5vh;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: row-reverse;
  padding: 5%;
}
.cart-icon-container{
	position: fixed;
	
}



.cart {
  border-radius: 5px;
  background: white;
  color: purple;
  padding: 10px 15px;
}

.shopping-item {
  margin: 2%;
  line-height: 1.5;
	display: grid;
	
}
.shopping-item-text {
  padding: 5%;
}
.shopping-item-img-container {
  widows: 100%;
}
.shopping-item-img-container img {
  width: 100%;
}

.shopping-item-product-price {
  display: block;
  color: green;
}

button {
  font-weight: 600;
  border: 0;
/*  margin: 5% 0; */ 
  font-size: 15px;
  color: white;
  padding: 1% 2%;

  box-shadow: 0;

  box-shadow: 1px 1px 2px #979797;
}

.main-shopping-container {
  display: grid;
/*  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));*/
	grid-template-columns: 1fr 1fr 1fr;
	
}

.alert {
  font-size: 32px;
  background: black;
  color: white;
}
.shopping-data-container {
  background: black;
  padding: 5%;
  color: white;
  background: #c1c1c1;
  align-items: center;
  justify-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.buy-button {
  border-radius: 3px;
	position: relative;
left: 80%;
  background: linear-gradient(120deg, #dd9207, #ecc300);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
}

.data-bought-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bought-products-subtitle{
	grid-column: 1/4;
}
.delete-product-button {
  /* background: white; */
  padding: 2% 4%;
  width: auto;
  color: red;
  /* background: white; */
  color: black;
  border-radius: 20px;
  background: white;
  color: red;
}




.alert-container{
	opacity: 0;
	transition: 0.2s;
	transform: translateY(-90px);
	pointer-events:none;
	position: absolute;
	bottom: 15%;
}

.alert-container_active{
	opacity: 1;
	transition: 0.2s;
	transform: translateY(90px)
}